@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');

body{
font-family: 'Baloo Tammudu', cursive;
color: white;
background: #ebccda;

}
h1{
	color: skyblue;
	font-size: 70px;
}
li{
	font-size: 40px;
}
p{
	font-size: 25px;
}

.cougarsPic{
	width: 500px;
	border-width: 20px;
}

